@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: normal;
}
